
@{
    ViewData["Title"] = "Contact";
}

<div class="Container">
    <img id="Banner" src="~/Resources/inlandbanner.jpg" />
</div>
<h1 id="WelcomeHeading">Contact</h1>
<div class="Container" id="MessageDiv">
    <h1>Locations</h1>
    <p class="text-left mt-3 p-1">
        <i class="fas fa-map-marker-alt" id="ContactIcons"></i> Inland Lake, Arizona 86038
    </p>
    <p class="text-left mt-3">
        <i class="fas fa-shipping-fast" id="ContactIcons"></i> Inland Lake Marina Box 123
    </p>
</div>
<div class="Container" id="MessageDiv">
    <h1>Phones</h1>
    <p class="text-left mt-3"><i class="fas fa-phone" id="ContactIcons"></i>(office phone) 928-555-2234</p>
    <p class="text-left mt-3"><i class="fas fa-phone" id="ContactIcons"></i>(leasing phone) 928-555-2235</p>
    <p class="text-left mt-3"><i class="fas fa-phone" id="ContactIcons"></i>(fax) 928-555-2236 </p>
</div>
<div class="Container" id="MessageDiv">
    <h1>Emails</h1>
    <p class="text-left mt-3"><i class="fas fa-envelope" id="ContactIcons"></i> Manager: Glenn Cooke</p>
    <p class="text-left mt-3"><i class="fas fa-envelope" id="ContactIcons"></i> Slip Manager: Kimberley Carson</p>
    <p class="text-left mt-3"><i class="fas fa-envelope" id="ContactIcons"></i> Contact email: info@inlandmarina.com</p>
</div>